/* .body{
    background-color: rgb(150, 150, 150);
} */


/* Navigation bar */
.navbar{
    background-color: rgb(36, 36, 36);
}

a.nav-link:hover{
    background-color: #2d2d2d;
}


/* Main content */

.main-background-image{
    height: 700px;
    background-image: url(./images/pexels-mateusz-salaciak.jpg); /*Image taken from: https://www.pexels.com/photo/brown-wooden-house-on-green-grass-field-near-green-trees-and-mountains-4275885/ */
    background-size: cover;
    background-size: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-position: fixed;
    
}
.main-content{
    color: white;
    margin-left: 10%;
    padding-top: 100px;
}

.main-content h1{
    text-shadow: 0px 0px 20px #000000, 0px 0px 10px #000000;
}

.main-content img{
    height: 200px;
    width: 200px;
    margin-top: 30px;
    margin-left: 5%;
    box-shadow: 0px 0px 20px #000000, 0px 0px 10px #221209;
}


/* Galleries buttons for the carousel */

.galleries .btn{
    margin: 0 5px;
    background-color: #545b62;
    width: 220px;
}

.galleries .btn:hover{
    background-color: #494e53;
}

.galleries{
    margin: 30px 0;
}



/* Carousel with images */

.carousel-item .row{
    margin-bottom: 30px;
}

.carousel-item{
    padding: 0 7%;
}

.carousel-inner{
    background-color: rgb(36, 36, 36);
    padding: 30px 0 25px 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
}

a.carousel-control-prev, a.carousel-control-next{
    width: 8%;
}

.blank-space{
    height: 50px;
    /* background-color: rgb(240, 240, 240); */
}



/* About John Doe */

.about-John-Doe {
    background-color: rgb(241, 241, 241);
}

.about-John-Doe .image{
    height: 200px;
}

.about-John-Doe div.row{
    padding-top: 30px;
}

.about-John-Doe .list-group-item{
    background-color: rgb(241, 241, 241);
}

.about-John-Doe h5{
    margin-bottom: 20px;
}

.about-John-Doe .about{
    height: 349;
}

.about-John-Doe .about p{
    text-align: center;
}




.about-John-Doe .col-md a{
    padding: 10px 0;
    margin: 0 20px;
    margin-bottom: 30px;
    border-radius: 3px;
    background-color: rgb(36, 36, 36);
    color: white;
    opacity: 0.5;
} 

.about-John-Doe .col-md a:hover{
    text-decoration: none;
    opacity: 1;
    transition-duration: 0.3s;
} 




/* Responsiveness */

@media (max-width: 600px) {
    .navbar .nav-item a{
        padding: 20px 0;
    }
    
    .main-background-image{
        height: 540px;
    }
    
    .main-content{
        margin: 0;
    }

    .main-content img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .main-content h1{
        text-align: center;
    }


    /* Carousel */

    .carousel-inner{
        padding: 0;
    }

    .carousel-item{
        padding: 0;
    }

    .carousel-item div.row{
        margin: 0;
    }

    div.col{
        padding: 0;
    }

    .hide-on-mobile{
        display: none !important;
    }

    div.carousel-inner{
        padding: 0;
    }
    
    ol.carousel-indicators{
        margin: 0;
    }


    /* About John Doe */
    .about-John-Doe .col-md a{
        padding: 15px 0;
    }

    .about-John-Doe .about{
        margin-bottom: 30px;
    }
    
    .about-John-Doe h5{
        text-align: center;
    }
}

@media (max-width: 950px) { 
    .hide-on-tablet{
        display: none !important;
    }
    /* Placed this here as the image in the about section would overlap with the text */
    .about-John-Doe div.col-md-3{
        display: none !important;
    }
}

@media (min-width: 950px) { 
    .galleries{
        margin: 30px 100px;
    }
    .hide-on-tablet{
        display: none;
    }
}

@media (min-width: 1200px) { 
    .galleries{
        margin: 30px 200px;
    }

}

@media (min-width: 1555px) { 
    .galleries{
        margin: 30px 300px;
    }
}
