
.main-background-image{
    height: 700px;
    background-image: url(images/pexels-mateusz-sałaciak.jpg); /*Image taken from: https://www.pexels.com/photo/brown-wooden-house-on-green-grass-field-near-green-trees-and-mountains-4275885/ */
    background-size: cover;
    background-size: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-position: fixed;
    
}
.main-content{
    color: white;
    margin-left: 10%;
    padding-top: 100px;
}
.JohnDoePortrait{
    margin-top: 30px;
    margin-left: 5%;
}

.bi-chevron-bar-down{
    color: white;
}

.blank-space{
    height: 100px;
}

.row{
    margin-bottom: 30px;
}

.carousel-item{
    padding: 0 7%;
}

.carousel-inner{
    background-color: rgb(36, 36, 36);
    padding: 30px 0 25px 0;
}

.carousel-control-prev{
    width: 20px;
}